
/* @import "bootstrap"; */

.container {
    position: relative;
    text-align: center;
    color: rgb(255, 255, 255);
  }

  .centered {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 89px;

    /* font-family: Arial, Helvetica, sans-serif; */

  }
  .sub-text {
    position: absolute;
    top: 82%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
  
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */

  }